<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="67ce5855-ee4e-40ad-b0c3-70e03239fb6c" Publisher="CN=arnabg" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="67ce5855-ee4e-40ad-b0c3-70e03239fb6c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>RewardsSummary.WindowsPhone</DisplayName>
    <PublisherDisplayName>arnabg</PublisherDisplayName>
    <Logo>Assets\BarCode50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RewardsSummary.WindowsPhone.App">
      <m3:VisualElements DisplayName="RewardsSummary" Square150x150Logo="Assets/BarCode150.png" Square44x44Logo="Assets\BarCode44.png" Description="RewardsSummary.WindowsPhone" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\BarCode71.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>